DATABASE_URL=postgresql://user:pass@host/dbname?sslmode=require
OPENAI_API_KEY=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
WHATSAPP_ACCESS_TOKEN=EAAhQWBskKlQBPmbrmT96UZA2lCcBsgqQ0HChjEZAfCSZC7rnU1qiU19JKD1YPKPVgWJ6iRJYe7fhZAd1ofXjmbej0ZAYtZCUcquMcgpbF2fKCJzLMRCndLFZBN3lnLDYrogZAH2HwdcpMLH8o5tgHJJLzcKSi9Ntisj178CrSKT8s5KlQUMnmEQXdoTty3deXgZDZD
WHATSAPP_PHONE_NUMBER_ID=808896282312368
WHATSAPP_VERIFY_TOKEN=lead_system_webhook_2025
NOTION_INTEGRATION_SECRET=secret_xxx
NOTION_PAGE_URL=https://notion.so/xxx
PORT=5000
NODE_ENV=development
SESSION_SECRET=3d2961fa55f362ceb71deb6c0eacd77c44811bc81bb214fa8e4224a36f7fa05a