DATABASE_URL=postgresql://user:pass@host/dbname?sslmode=require
OPENAI_API_KEY=sk-xxx
WHATSAPP_ACCESS_TOKEN=EAAhQWBskKlQBPquo1CxLrLbgX1shwoRsn7bYdSSLek1Jl8PNANhusHhLKUp4jTle7ycoFC9j8iNJhIS2hOcwfes2KJ17SG5ZAyBjZAKtU4I0TdUHqrkO9vTfJwcsLpOTnPhZCVke7mloZBoaKHBqo91rXQKqv197I6JeBDrASDPMKsqs5QYdlRJxehtTMjffzZB3dvGohylkyITHzjheOPe4pd6u1tdTY3AeIcmpbTRbfyZBmPT4AZCCoeD9AZDZD
WHATSAPP_PHONE_NUMBER_ID=808896282312368
WHATSAPP_VERIFY_TOKEN=lead_system_webhook_2025
NOTION_INTEGRATION_SECRET=secret_xxx
NOTION_PAGE_URL=https://notion.so/xxx
PORT=5000
NODE_ENV=development
SESSION_SECRET=xxx